@media screen and (min-width:360px){
	html{
		font-size: calc(360/750*100px)
	}
}
@media screen and (min-width:375px){
	html{
		font-size: calc(375/750*100px)
	}
}
@media screen and (min-width:412px){
	html{
		font-size: calc(412/750*100px)
	}
}
@media screen and (min-width:750px){
	html{
		font-size: calc(750/750*100px)
	}
}
@media screen and (min-width:768px){
	html{
		font-size: calc(768/750*100px)
	}
}

*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	/* 清除默认样式 */
	outline: none;
}
i{
	font-style: normal;
}
/* 顶部开始 */
header{
	width: 100%;
	height: 0.9rem;
	background-color: #F9AE26;
}
header .left{
	height: 100%;
	width: 0.88rem;
	float: left;
	line-height: 1.22rem;
	background-image:url("../img/return.png");
	background-repeat: no-repeat;
	background-size: 0.3rem 0.5rem;
	background-position: 0.42em center;
}
header .center{
	height: 100%;
	width: 4.68rem;
	float: left;
	position: relative;
}
header .center .img1{
	width: 0.32rem;
	height: 0.32rem;
	float: left;
	position: absolute;
	top: 0.28rem;
	left: 0.44rem;
}
header .center .img2{
	width: 0.22rem;
	height: 0.32rem;
	float: right;
	position: absolute;
	top: 0.28rem;
	right: 0.12rem;
}
header .center input{
	float: right;
	height: 0.42rem;
	width: 4.32rem;
	border-radius: 0.12rem;
	border: none;
	margin: 0.23rem 0 0 0.23rem;
	background-color: white;
	outline: none;
	font-size: 0.24rem;
	color: #F9BF6B;
	padding-left: 0.56rem;
	overflow: hidden;
}

input::-webkit-input-placeholder{
	color: #F9BF6B;
	
}
header .right{
	width: 1.94rem;
	height: 100%;
	float: right;
	line-height: 45px;
}
header .right .img3{
	width: 0.46rem;
	height: 0.46rem;
	float: left;
	margin-top: 0.2rem;
	margin-left: 0.34rem;
}
header .right .img4{
	width: 0.46rem;
	height: 0.46rem;
	float: right;
	margin-top: 0.2rem;
	margin-right: 0.34rem;
}
/* 顶部结束 */

/* 店铺信息开始 */
.store{
	width: 100%;
	height: 3.6rem;
	background-color: #F9AE26;
	box-shadow: 0 0.1rem 0.3rem #FCD0C2;
	margin-bottom: 0.2rem;
	overflow: hidden;
	position: relative;
}
.store .picture {
	width: 3.2rem;
	height: 3.2rem;
	float: left;
/* 	display: flex;
	justify-content: center;
	align-items: center; */
	padding-top: 0.4rem;
	padding-left: 0.3rem;
	overflow: hidden;
}
.store .picture img{
	width: 2.8rem;
	height: 2.8rem;
}
.store .message{
	width: 4rem;
	height: 5rem;
	float: right;
	font-size: 0.2rem;
	color: #585858;
	padding-top: 0.2rem;
	overflow: hidden;
}
.store .message .english{
	position: absolute;
	right: 0rem;
	top: 0.5rem;
}
.store .message .english h4{
	font-size: 0.68rem;
	color: rgba(255, 255, 255, 0.3);
	margin-right: 0.5rem;
	font-weight: normal;
}
.store .message .name{
	width: 4rem;
	height: 1rem;	
}
.store .message .name h6{
	font-size: 0.6rem;
	color: #fff;
	margin-bottom: 0.1rem;
	text-align: left;
	font-weight: normal;
}
.store .message .text{
	width: 4.2rem;
	height: 0.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0.06rem;
	font-size: 0.26rem;
	color: rgba(255, 255, 255, 0.8);
	font-weight: normal;
	margin-top: 0.14rem;
	margin-right: 0;
	position: relative;
}
.store .message .text span{
	width: 100%;
}
.store .message .text h4{
	font-size: 0.32rem;
	color: #FFF120;
	margin-right: 0.8rem;
}
.store .message .text p{
	font-size: 0.3rem;
	color: rgba(255, 255, 255, 0.8);
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 0.8rem;
	margin-bottom: 0.08rem;
}

/* .list .content ul li .message .text h3{
	width: 2.8rem;
	height: 0.28rem;
	
} */
.store .message .manjian{
	height: 0.4rem;
	width: 3.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.store .message .manjian .box{
	width: 1.2rem;
	height: 0.36rem;
	font-size: 0.22rem;
	color: #F02B25;
	line-height: 0.36rem;
	text-align: center;
	border: 0.03rem solid #F02B25;
	border-radius: 0.15rem;
}
.store .message .manjian p{
	font-size: 0.2rem;
	width: 1rem;
	text-align: center;
	margin: 0;
}
.store .message .special{
	height: 0.4rem;
	width: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 0.3rem;
}
.store .message .special .box{
	width: 1.2rem;
	height: 0.36rem;
	font-size: 0.22rem;
	color: #F02B25;
	line-height: 0.36rem;
	text-align: center;
	border: 0.03rem solid #F02B25;
	border-radius: 0.15rem;

}
.store .message .special p{
	font-size: 0.2rem;
	width: 2.4rem;
	text-align: left;
	margin: 0;
}
.store .message .menu{
	width: 3.4rem;
	height: 0.2rem;
	text-align: left;
	margin-top: 0.1rem;
	font-size: 0.18rem;
	color: #FFF;
	line-height: 0.2rem;
}
.store .message .menu img{
	width: 0.24rem;
	height: 0.2rem;
	margin-right: 0.1rem;
}
/* 店铺信息结束 */

/* 主要内容开始 */
main .list{
	width: 1.6rem;
	height: 6.6rem;
	float: left;
	background-color: #FAD98A;
	padding-top: 0.2rem;
	overflow: hidden;
}
main .list ul li{
	width: 1.6rem;
	height: 0.8rem;
	background-color: #FAD98A;
	font-size: 0.26rem;
	color: white;
	line-height: 0.8rem;
	text-align: center;

}
main .list ul li:nth-child(7){
	background-color: #F34F49;
}
main .content{
	width: calc(100% - 1.6rem);
	height: 7.4rem;
	float: right;
	overflow: scroll;
}

main .content ul li{
	width: calc(100% - 0.8rem);
	height: 1.8rem;
	/* 超出部分： 滚动 
	overflow:属性规定当内容溢出元素框时发生的事情
	hidden隐藏   scroll*/
	
	box-shadow: 0 0.1rem 0.15rem #FBCCBD;
	margin: 0.16rem auto 0.16rem;
	position: relative;
}


main .content ul li .picture {
	width: 1.6rem;
	height: 1.6rem;
	float: left;
/* 	display: flex;
	justify-content: center;
	align-items: center; */
	padding-top: 0.24rem;
	overflow: hidden;
}
main .content ul li .picture img{
	width: 1.6rem;
	height: 1.6rem;
	padding-left: 0.24rem;
	overflow: hidden;
}
main .content ul li .message{
	width: 3rem;
	height: 1.92rem;
	float: right;
	font-size: 0.2rem;
	color: #585858;
	padding-top: 0.24rem;
	overflow: hidden;
}
main .content ul li .message .name{
	width: 3.4rem;
	height: 0.3rem;
	line-height: 0.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .content ul li .message .name h6{
	font-size: 0.24rem;
	color: #000000;
	margin-bottom: 0.06rem;
	text-align: left;
}
main .content ul li .message .name h4{
	font-size: 0.2rem;
	color: #FFF120;
	margin-bottom: 0.06rem;
	margin-right: 0.6rem;
}
main .content ul li .message p{
	float: left;
	margin-right: 0.4rem;
	margin-bottom: 0.06rem;
}
main .content ul li .message .text{
	width: 3rem;
	height: 0.6rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	webkit-box-orient：vertical;
	overflow: hidden;
	text-overflow: ellipsis;
/* 	margin-bottom: 0.06rem; */
	font-size: 0.18rem;
	font-weight: normal;
/* 	margin-right: 0; */
}
/* .list .content ul li .message .text h3{
	width: 2.8rem;
	height: 0.28rem;
	
} */
main .content ul li .message .month{
	width: 3rem;
	height: 0.2rem;
	line-height: 0.2rem;
	margin-right: 0.24rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: yellow;
}
main .content ul li .message .month p{
	width: 1.2rem;
	height: 0.2rem;
	line-height: 0.2rem;
	font-size: 0.18rem;
}
main .content ul li .message .month h2{
	width: 1.5rem;
	height: 0.2rem;
	line-height: 0.12rem;
	margin-right: 0.1rem;
	font-size: 0.28rem;
	color: #F0322D;
}
main .content ul li .message .special{
	height: 0.3rem;
	width: 3rem;
	line-height: 0.3rem;
	float: left;
}
main .content ul li .message .special p{
	width: 2.4rem;
	height: 0.3rem;
	line-height: 0.3rem;
	font-size: 0.16rem;
	text-align: left;
	display: block;
	float: left;

}

main .content ul li .message img{
	width: 0.3rem;
	height: 0.3rem;
	position: absolute;
	bottom: 0.12rem;
	right: 0.2rem;
}

/*底部开始 */
footer{
	width: 100%;
	height: 1rem;
	background:white;
	bottom: 0;
	left: 0; 
	position: fixed;
	display: flex;
	justify-content: center;
	border-top: 0.08rem solid rgba(249, 174, 39, 0.6);

}
footer .box{
	width: 100%;
	height: 1rem;
	background: white;
}
footer .car img{
	width: 1rem;
	height: 1rem;
	position: fixed;
	left: 0.5rem;
	bottom: 0.5rem;
}
footer .box-list1{
	width: 3.6rem;
	height: 100%;
	background: white;
	font-size: 0.24rem;
	text-align: left;
	margin-top: 0.1rem;
	float: left;
	margin-left: 1.6rem;
	color: #656564;
	line-height: 0.4rem;
}
footer .box-list2{
	width: 1.9rem;
	height: 1rem;
	background: #F9B54D;
	/* margin-left: 3.88rem; */
	font-size: 0.28rem;
	line-height: 1rem;
	text-align: center;
	color: white;
	float: right;
}
/* 底部结束 */


/* 弹出框开始 */
.pop{
	width: 5.2rem;
	height: 5.2rem;
	background-color: #FAB42E;
	box-shadow: 0 0 1px 2000px rgba(255, 255, 255, 0.1);
	position: fixed;
	bottom: 4.4rem;
	left: 1.2rem;
	border-radius: 0.3rem;
	display: none;
}
.pop .picture{
	width: 100%;
	height: 3.1rem;
	position: relative;
}
.pop .picture img{
	width: 100%;
	height: 3.1rem;
}
.pop .picture .close{
	width: 0.4rem;
	height: 0.4rem;
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 0.4rem;
	position: absolute;
	top: 0.1rem;
	right: 0.15rem;
}
.pop .box{
	width: 100%;
	height: 2.1rem;
}
.pop .box .title{
	width: 5rem;
	height: 0.9rem;
	margin-left: 0.5rem;
	overflow: hidden;
}
.pop .box .title h1{
	margin-top: 0.1rem;
	font-size: 0.34rem;
}
.pop .box .title p{
	font-size: 0.22rem;
	margin-top: 0.06rem;
}
.pop .box .money{
	width: 3rem;
	height: 1.1rem;
	position: relative;
}
.pop .box .money h1{
	font-size: 0.3rem;
	color: white;
	margin-left: 1rem;
	margin-top: 0.06rem;
}
.pop .box .money img{
	width: 0.34rem;
	height: 0.34rem;
	position: absolute;
	left: 0.5rem;
	bottom: 0.7rem;
}
.pop .box .money .img1{
	width: 0.34rem;
	height: 0.34rem;
	position: absolute;
	right: 1.82rem;
	bottom: 0;
}
.pop .box .money h2{
	font-size: 0.34rem;
	color: white;
	font-weight: normal;
	margin-left: 0.5rem;
	margin-top: 0.1rem;
	float: left;
}
/* .pop .box .money span{
	font-weight: bold;
} */
.pop .box .money p{
	font-size: 0.24rem;
	color: white;
	font-weight: normal;
	margin-left: 0.16rem;
	margin-top: 0.18rem;
	float: left;
}
.pop .btn{
	width: 1.4rem;
	height: 0.5rem;
	background-color: white;
	border-radius: 0.25rem;
	position: fixed;
	right: 1.4rem;
	bottom: 4.6rem;
	line-height: 0.5rem;
	font-size: 0.24rem;
	font-weight: bold;
	color: #FAB42E;
	text-align: center;
}
/* 弹出框结束 */





/* 文字弹出框开始 */
.word{
	width: 100%;
	height: 1rem;
	background:white;
	bottom: 0;
	left: 0; 
	position: fixed;
	display: flex;
	justify-content: center;
	border-top: 0.08rem solid rgba(249, 177, 61, 0.8);
	display: none;
}
.word .box{
	width: 100%;
	height: 1rem;
	background: white;
}
.word .car img{
	width: 1rem;
	height: 1rem;
	position: fixed;
	left: 0.5rem;
	bottom: 0.5rem;
}
.word .box .list{
	width: 3.6rem;
	height: 100%;
	float: left;
}
.word .box-list{
	width: 3.5rem;
	height: 50%;
	font-size: 0.2rem;
	line-height: 0.5rem;
	text-align: left;
	margin-left: 1.6rem;
	color: #F0322D;
}
.word .box-list1{
	width: 3rem;
	height: 50%;
	font-size: 0.24rem;
	margin-top: 0.04rem;
	text-align: left;
	margin-left: 1.6rem;
	color: #F0322D;
}
.word .box h2{
	font-size: 0.3rem;
	color: #F0322D;
	float: left;
}
.word .list2{
	width: 1.9rem;
	height: 1rem;
	background: #F9AE26;
	/* margin-left: 3.88rem; */
	font-size: 0.28rem;
	line-height: 1rem;
	text-align: center;
	color: white;
	float: right;
}
/* 文字弹出框结束 */